<table class="table table-striped" id="comments_table">
  <tbody>
  <% if @snippet.comments.length > 1 %>
  <% @snippet.comments.each_with_index do |comment, i| %>
  <% unless comment.id.nil? %>
  <tr>
    <td><b><%= "#{i + 1}. " %></b></td>
    <!-- TODO: show user name -->
    <td><%= User.find_by_id(comment.user_id).name %>: </td>
    <td><%= comment.description %></td>
  </tr>
  <% end %>
  <% end %>
  <% end %>
  </tbody>
</table>
<% if @snippet.comments.length <= 1 %>
   <p id="no_comment">No comment</p>
   <% end %>
