$('#comments_table tbody').append('<tr><td><b><%= @snippet.comments.length %>: </b></td><td><%=j User.find_by_id(@comment.user_id).name %>: </td><td><%=j @comment.description %></td></tr>');
$('#comment_description').val("");
$('#no_comment').remove();